{% extends 'base.html.twig' %}

{% block body %}
	<h2 class="text-center mb-5">Les Catégories</h2>
	<div class="text-center mb-5">
		<a href="/public/category/create">
			<button type="button" class="btn btn-primary mt-3">Créer</button>
		</a>
	</div>
	<table class="table w-50 mx-auto text-center">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nom</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for category in allcategory %}
				<tr>
					<td class="align-middle">{{ category.id }}</td>
					<td class="align-middle">{{ category.name }}</td>
					<td class="align-middle">{{ category.description }}</td>
					<td class="align-middle">
						<div>
							<a href="/public/category/modify/{{ category.id }}">
								<button type="button" class="btn btn-primary mt-3">Modifier</button>
							</a>
						</div>
						<div>
							<a href="/public/category/delete/{{ category.id }}">
								<button type="button" class="btn btn-danger mt-3">Supprimer</button>
							</a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
