{% extends 'base.html.twig' %}

{% block body %}

	<h4 class="text-center mt-5">Modification d'un Article</h4>
	<div class="form_container">
		<form class="text-center mt-5 form" id="form_update" method="post" enctype="multipart/form-data">
			<div class="form-group">
				<label class="form-label" for="title">Titre</label>
				<br>
				<input type="text" name="title" id="title" value="{{ article.title}}" required>
			</div>
			<div class="form-group w-50 mx-auto">
				<label class="form-label mt-3" for="content">Contenu</label>
				<br>
				<textarea name="content" id="content" class="form-control" rows="5" required>{{ article.content }}</textarea>
			</div>
			<div class="form-group">
				<label class="form-label mt-3" for="image">Image</label>
				<br>
				<input type="file" name="image" id="image">
			</div>
			<div class="form-group w-50 mx-auto">
				<label class="form-label mt-3" for="state">État</label>
				<br>
				<select name="state" id="state" class="form-control" required>
					<option value="1" {% if article.state == 1 %} selected {% endif %}>&#9989; Actif</option>
					<option value="0" {% if article.state == 0 %} selected {% endif %}>&#x274C; Inactif</option>
				</select>
			</div>
			{# Afficher le message de succès #}
			{% if message %}
				<div class="success-message bg-success text-white mt-3 p-3">{{ message }}</div>
				<script>
					setTimeout(function () { // Redirection vers la page de détails d'un personnage
window.location.href = '/public/article/view/  {{ id }}';
}, 3000); // Temporisation de 3 secondes avant la redirection
				</script>
			{% endif %}
			<div>
				<button type="submit" class="btn btn-success mt-4">Modifier</button>
			</div>

			<div class="mt-3">
				<a href="/public/article/view/{{ id }}">
					<button type="button" class="btn btn-primary">Retour</button>
				</a>
			</div>
		</form>

	{% endblock %}
